@model IEnumerable<WebAPI.Models.Tb_PersonasFisicas>

@{
    ViewBag.Title = "Personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css/Login.css")

<h2>Persona Física</h2>

<button id="btnNueva" class="btn btn-primary btn-lg">
    <a href="@Url.Action("Create", "PersonaFisica")">
        Nueva Persona Física
    </a>
</button>

<table id="tblPersonas" class="display">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdPersonaFisica)</th>
            <th>@Html.DisplayNameFor(model => model.FechaRegistro)</th>
            <th>@Html.DisplayNameFor(model => model.FechaActualizacion)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.ApellidoPaterno)</th>
            <th>@Html.DisplayNameFor(model => model.ApellidoMaterno)</th>
            <th>@Html.DisplayNameFor(model => model.RFC)</th>
            <th>@Html.DisplayNameFor(model => model.FechaNacimiento)</th>
            <th>@Html.DisplayNameFor(model => model.UsuarioAgrega)</th>
            <th>@Html.DisplayNameFor(model => model.Activo)</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdPersonaFisica)</td>
                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.FechaRegistro))</td>
                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.FechaActualizacion))</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.ApellidoPaterno)</td>
                <td>@Html.DisplayFor(modelItem => item.ApellidoMaterno)</td>
                <td>@Html.DisplayFor(modelItem => item.RFC)</td>
                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.FechaNacimiento))</td>
                <td>@Html.DisplayFor(modelItem => item.UsuarioAgrega)</td>
                <td>@((bool)item.Activo ? "Sí":"No")</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.IdPersonaFisica }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPersonaFisica })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#tblPersonas').DataTable();
        });
    </script>
}
